Options -MultiViews
RewriteEngine On

RewriteBase /projekty/php/mvc_routing/public

RewriteCond ${REQUEST_FILENAME} !=d
RewriteCond ${REQUEST_FILENAME} !=f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]